@import 'normalize';
@import 'miligram';
@import 'variables';
@import 'utilities';

$wedding-green: #82cac1;

hr {
  width: 100%;
}
textarea {
  min-height: 9.5rem;
}
h1 {
  font-family: 'Great Vibes', cursive, sans-serif;
  text-align: center;
  text-shadow: 3px 2px rgba(0,0,0,.3);
}
.cursive {
  font-family: 'Great Vibes', cursive, sans-serif;
  text-align: center;
  letter-spacing: 0;
}
body {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  overflow-x: hidden;
  font-size: 1.2em;
  overflow-x: hidden;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: white;
  box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.18);
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  @media screen and (min-width:769px) {
    flex-direction: row;
    max-width: 800px;
  }
  &__icon {
    font-size: 1.5em;
    i, span {
      color: #656464;
      font-style: normal;
    }
    span {
      font-size: .7em;
    }
    @media screen and (min-width:769px) {
      display: none;
    }
  }
  &__item {
    text-align: center;
    margin: 0 20px;
    padding: 10px 0 10px 0;
    color: #656464;
    display: none;
    background: transparent;
    border-bottom: 1px solid rgba(#656464, .1);
    width: 100%;
    @media screen and (min-width: 769px) {
      display: inline-block;
      background: transparent;
      border-bottom: none;
      width: auto;
    }
  }
  &__item-link {
    color: #656464;
  }
  &.opened {
    .menu__item {
      display: inline-block;
    }
  }
}

.top-leaves, .bottom-leaves {
  position: fixed;
  z-index: 2;
  width: 25%;
  min-width: 140px;
}

.top-leaves {
  right: -10px;
  top: 50px;
}
.bottom-leaves {
  left: -10px;
  bottom: 10px;
}

.leaves-behind {
  position: relative;
  z-index: 5;
}
.intro {
  background: url('../images/casal.jpg');
  background-position: center;
  background-size: cover;
  -webkit-filter: grayscale(20%);
  background-size: cover;
  color: #fff;
  height: 100vh;
  .bg {
    display: flex;
    height: 100%;
    background: rgba(0,0,0,.3);
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }
  h1 {
    font-size: 4.5em;
    margin-bottom: 10px;
    line-height: 1;
    @media screen and (min-width: 769px){
      font-size: 6em;
    }
  }
  h2 {
    font-size: 2em;
    text-align: center;
    letter-spacing: 1px;
  }
}
h2.cursive {
  font-size: 4em;
}
.when-where {
  text-align: center;
  padding: 5% 0;
  background: white;
  @media screen and (min-width: 769px){
    background:transparent;
  }
  p {
    margin: 0;
    font-size: 1.2em;
  }
  .address {
    margin-bottom: 25px;
  }
}
.madrinhas-padrinhos {
  margin: 2em auto;
}
.card-wrapper {
  flex-wrap: wrap;
  display: flex;
}
.card {
  display: flex;
  flex: 1;
  flex-basis: 48%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 3px 23px -4px rgba(0,0,0,0.1);
  border: 1px solid #efefef;
  margin: 10px;
  padding: 1em;
  .desc {
    margin: 0;
    font-size: 1.2em;
  }
  @media screen and (min-width: 769px){
    padding: 2em;
  }
  h3 {
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 5px;
  }
  h4 {
    margin-top: 15px;
  }
  .img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
  }
  &.marcela .img {
    background: url('../images/marcela.jpeg');
    background-size: cover;
  }
  &.edinho .img {
    background: url('../images/edinho.jpeg');
    background-size: cover;
  }
  &.lobolf .img {
    background: url('../images/lobolf.jpeg');
    background-size: cover;
  }
  &.david .img {
    background: url('../images/david.jpeg');
    background-size: cover;
  }
  &.marina .img {
    background: url('../images/marina.jpeg');
    background-size: cover;
  }
  &.gabriel .img {
    background: url('../images/gabriel.jpeg');
    background-size: cover;
  }
  &.natalia .img {
    background: url('../images/natalia.jpeg');
    background-size: cover;
  }
  &.fernando .img {
    background: url('../images/fernando.jpeg');
    background-size: cover;
  }
  &.breno .img {
    background: url('../images/breno.jpeg');
    background-size: cover;
  }
  &.bia .img {
    background: url('../images/bia.jpeg');
    background-size: cover;
  }
  &.priscila .img {
    background: url('../images/priscila.jpeg');
    background-size: cover;
  }
  &.phil .img {
    background: url('../images/philzinho.jpeg');
    background-size: cover;
  }
  &.bia .img {
    background: url('../images/bia.jpeg');
    background-size: cover;
  }
  &.rafael .img {
    background: url('../images/rafael.jpeg');
    background-size: cover;
  }
  &.joana .img {
    background: url('../images/joana.jpeg');
    background-size: cover;
  }
  &.juliana .img {
    background: url('../images/juliana.jpeg');
    background-size: cover;
  }
  &.brunno .img {
    background: url('../images/brunno.jpeg');
    background-size: cover;
  }
}
.title {
  h2 {
    text-align: center;
  }
  img {
    width: 50%;
    max-width: 200px;
    display: inline-block;
  }
}

.rsvp {
  letter-spacing: 1px;
  margin-bottom: 5%;
  font-size: 1.1em;
  form {
    max-width: 800px;
    padding: 2em;
    margin: 15px auto;
  }
  .rsvp-button {
    font-size: 1.1em;
    text-transform: inherit;
    transition: all .4s;
    display: block;
    margin: 10px auto;
    line-height: 0;
    padding: 2em;
  }
}
.column.pay-anything {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.button--green {
  background: $wedding-green;
  border-color: $wedding-green;
  text-transform: inherit;
  line-height: 0;
  padding: 1.8em;
  font-size: 1.2em;
  &-outline {
    background: transparent;
    color: $wedding-green;
    border-color: $wedding-green;
  }
  &:hover {
    background: darken($wedding-green, 10%);
  }
}

.family {
  margin-bottom: 10%;
  &__column.column {
    display: flex;
    flex-direction: column;
    &.left {
      justify-content: flex-start;
      align-items: flex-start;
      transform: rotate(-10deg);
    }
    &.right {
      justify-content: flex-end;
      align-items: flex-end;
      transform: rotate(10deg);
    }
  }
  &__pic {
    width: 100%;
    max-width: 670px;
    margin-bottom: 20px;
  }
  &__title {
    font-size: 2.8em;
    margin-top: 0!important;
    margin-bottom: 0;
    @media screen and (min-width: 769px){
      font-size: 3.5em;
      margin-bottom: 0;
    }
  }
}
.guest-1,
.guest-2,
.guest-3,
.guest-4 {
  display: none!important;
  &.show {
    display: block!important;
  }
}
