@import 'normalize';
@import 'miligram';
@import 'variables';
@import 'utilities';

$wedding-green: #82cac1;

h1 {
  font-family: 'Great Vibes', cursive, sans-serif;
  text-align: center;
  text-shadow: 3px 2px #000;
}

body {
  font-family: 'Advent Pro', sans-serif;
  letter-spacing: 1px;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: transparent;
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  @media screen and (min-width:769px) {
    flex-direction: row;
    max-width: 800px;
  }
  &__icon {
    font-size: 1.5em;
    i, span {
      color: #656464;
      font-style: normal;
    }
    span {
      font-size: .7em;
    }
    @media screen and (min-width:769px) {
      display: none;
    }
  }
  &__item {
    text-align: center;
    margin: 0 20px;
    padding: 10px 0 5px 0;

    display: none;
    background: $wedding-green;
    @media screen and (min-width: 769px) {
      display: inline-block;
      background: transparent;
    }
    &:active {
      border-bottom: 1px solid #fff;
    }
  }
  &__item-link {
    color: #fff;
  }
  &.opened {
    .menu__item {
      display: inline-block;
    }
  }
}

.top-leaves, .bottom-leaves {
  position: fixed;
  z-index: 2;
  width: 25%;
}

.top-leaves {
  right: -10px;
  top: 10px;
}
.bottom-leaves {
  left: -10px;
  bottom: 10px;
}

.intro {
  background: url('../images/casal.jpg');
  background-position: center;
  background-attachment: fixed;
  -webkit-filter: grayscale(20%);
  background-size: cover;
  color: #fff;
  height: 100vh;
  .bg {
    display: flex;
    height: 100%;
    background: rgba(0,0,0,.3);
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }
  h1 {
    font-size: 6em;
    margin-bottom: 10px;
    line-height: 1;
  }
  h2 {
    font-size: 2em;
    text-align: center;
    letter-spacing: 1px;
  }
}
.when-where {
  text-align: center;
  p {
    margin: 0;
  }
}

.title {
  h2 {
    text-align: center;
  }
  img {
    width: 50%;
    max-width: 200px;
    display: inline-block;
  }
}
